/**
 * Stop issue Title column becoming tiny when page width is narrow
 **/
.issues-list th:first-child {
  min-width: 300px;
}

.issues-list td.milestone>div {
  width: auto !important;
}

.issues-list td.version>div {
  width: auto !important;
}

.issues-list .votes {
  background-color: red !important;
  display: none;
}

#bbbi-modal {
    color: #333;
		width: 600px;
		padding: 2em;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
		background-color: white;
}

.bbbi-modal-title {
  font-weight: bold;
}

.bbbi-editable {
  cursor: pointer;
}

.bbbi-editable:hover::after {
  content: "\00a0 edit?";
  color: green;
  font-size: 1em;
}

.bbbi-modal-body {

}

.bbbi-icon {
  cursor:pointer;
}

.bbbi-spinner {
  width: 150px;height: 150px;
  -webkit-animation: sweep 1s infinite linear;
  border-radius:75px;
  border-bottom:5px solid blue;
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 999;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }
